.menu-wrapper {
    width: 900px;
    margin: auto;
    padding: 10px;
}

.menu-header {
    padding-bottom: 25px;
}

.menu-details {
    font-size: 20px;
    border-radius: 15px;
    position: fixed;
    bottom: -15px;
    width: 900px;
    margin: auto;
    padding: 20px;
    height: 100px;
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    text-align: center;
}
