.login-wrapper {
    text-align: center;
    margin-top: 5%;
    padding: 25px;
}

.login-title {
    padding-left: 15px;
    padding-top: 10px;
}

.login-wrapper form {
    max-height: 500px;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(238, 237, 237);
}

.login-wrapper .ant-form-item-control {
    margin-bottom: 5px;
}

.login-button {
    margin-top: 10px;
    display: block;
    margin: auto;
}
