.login-wrapper {
    text-align: center;
    margin-top: 1%;
    padding: 50px;
}

.login-add-upload {
    display: inline-flex;
}

.login-add-upload .ant-btn {
    margin: 5px;
}

.login-title {
    padding-left: 15px;
    padding-top: 10px;
}

.login-wrapper h2 {
    color: black;
}

.login-wrapper form {
    max-height: 245px;
    max-width: 550px;
    margin: auto;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: rgb(238, 237, 237);
}

.login-wrapper button {
    display: block;
    margin: auto;
}

.login-wrapper .ant-form-item-explain {
    text-align: left;
}
.login-wrapper .ant-form-item-required {
    height: 0;
}

.login-wrapper .login-alt {
    margin-top: 15px;
}
