.register-wrapper {
    text-align: center;
    margin-top: 1%;
    padding: 50px;
}

.register-add-upload {
    display: inline-flex;
}

.register-add-upload .ant-btn {
    margin: 5px;
}

.register-title {
    padding-left: 15px;
    padding-top: 10px;
}

.register-wrapper h2 {
    color: black;
}

.register-wrapper form {
    max-height: 660px;
    max-width: 550px;
    margin: auto;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: rgb(238, 237, 237);
}

.register-wrapper button {
    display: block;
    margin: auto;
}

.register-submit {
    margin-top: -15px;
}

.register-wrapper .ant-form-item-explain {
    text-align: left;
}
.register-wrapper .ant-form-item-required {
    height: 0;
}

.register-wrapper .ant-upload-text-icon {
    margin: 0;
    padding: 0;
    display: none;
}

.register-wrapper .ant-upload-list-item {
    margin-top: 0px;
    padding-top: 0px;
}
